 <div class="modal-dialog">
          

<div ng-controller="controllerone">
<form class="form-signintable">
        <table  class="table"  >
        <th>NAMEs</th>
        <th>ID</th>
            <tr ng-repeat="i in name">
            <td>{{i.name}}</td>
            <td>{{i.id}}</td>    
            </tr>
        
        
        </table>
      </form>  
    
    
    
       
 <div class="form-group">
<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="logout()">Logout</button>
</div>



    

                </div></div>

